.page {
  margin: 2em;
}

.title {
  text-align: center;
  margin-left: -1em;
}

.novel-link {
  display: flex;
  justify-content: space-around;
  margin-left: -3em;
}

.novel-link-item {
  font-size: 1.1em;
}

p {
  font-size: 1em;
  line-height: 1.8em;
}

@media (min-width: 720px) {
  .page {
    width: 80%;
    margin: 2em auto;
  }
}