.page {
  margin: 2em;
}

.title {
  text-align: center;
  margin-left: -1em;
  margin-bottom: 2em;
}

.novel-link {
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin-left: -3em;
  margin: 3em -3em 5em 0;
}

.novel-link-item {
  font-size: 1.1em;
}

p {
  font-size: 1em;
  line-height: 1.8em;
}

@media (min-width: 720px) {
  .page {
    width: 70%;
    margin: 2em auto;
  }
}

@media (min-width: 1024px) {
  .page {
    width: 60%;
    margin: 2em auto;
  }
}