.catalog-page {
  display: flex;
  flex-direction: column;
  margin: 2em;
}

li {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0.5em 0;
}

a {
  text-decoration: none;
  color: inherit;
}

a:visited {
  color: purple;
}

.catalog-title, .catalog-list {
  align-self: center;
}

.catalog-list {
  margin-left: -2em;
}